*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /*background: grey;*/
    background: #0d3c61;
}

.vertical-Y{
    height: 100dvh;
    display: flex;
    align-content: center;
    justify-content: center;
}

.container_main {
    width: 100%;
    display: flex;
}

/*.side_bar {*/
/*    height: 100dvh;*/
/*    display: flex;*/
/*    align-content: center;*/
/*    justify-content: center;*/
/*}*/

/*.marg-center {*/
/*    display: flex;*/
/*}*/
